body {
    height: 2000px;
}

.d1,
.d2,
.d3 {
    width: 100px;
    height: 100px;
}

.d1 {
    background-color: magenta;
}

.d2 {
    background-color: lawngreen;
    margin-left: 50px;
    margin-top: 20px;
    position: relative;
}

.d3 {
    background-color: lightsalmon;
}

.d4,
.d5,
.d6 {
    width: 100px;
    height: 100px;
}

.d4 {
    background-color: magenta;
}

.d5 {
    background-color: lawngreen;
    margin-left: 50px;
    margin-top: 20px;
    position: absolute;
    top: 0;
    right: 0;
}

.d6 {
    background-color: lightsalmon;
}

.isi {
    width: 600px;
    height: 650px;
    border: 10px solid green;
    position: relative;
}

.d7,
.d8,
.d9 {
    width: 100px;
    height: 100px;
}

.d7 {
    background-color: magenta;
}

.d8 {
    background-color: lawngreen;
    position: absolute;
    top: 0;
    right: 0;
}

.d9 {
    background-color: lightsalmon;
}

.isi2 {
    width: 600px;
    height: 650px;
    border: 10px solid green;
    position: relative;
}

.d10,
.d11,
.d12 {
    width: 100px;
    height: 100px;
}

.d10 {
    background-color: magenta;
}

.d11 {
    background-color: lawngreen;
    position: fixed;
    top: 0;
    right: 200px;
}

.d12 {
    background-color: lightsalmon;
}

.isi3 {
    width: 600px;
    height: 650px;
    border: 10px solid green;
    position: relative;
}

.d13,
.d14,
.d15 {
    width: 200px;
    height: 200px;
    font-size: 15px;
    line-height: 200px;
    text-align: center;
    font-weight: bold;
    position: absolute;
}

.d13 {
    background-color: red;
}

.d14 {
    background-color: green;
    top: 100px;
    left: 100px;
}

.d15 {
    background-color: blue;
    top: 200px;
    left: 200px;
}

.isi4 {
    width: 600px;
    height: 650px;
    border: 10px solid green;
    position: relative;
}

.d16,
.d17,
.d18 {
    width: 200px;
    height: 200px;
    font-size: 15px;
    line-height: 200px;
    text-align: center;
    font-weight: bold;
    position: absolute;
}

/*z indeks tinggal diatur, dengan nilai tertinggi menjadikan elemen paling depan
9999 contoh nilai z indeks jika ingin paling depan
-9999 contoh z indeks jika ingin paling belakang
*/

.d16 {
    background-color: red;
    z-index: 1;
}

.d17 {
    background-color: green;
    top: 100px;
    left: 100px;
    z-index: 2;
}

.d18 {
    background-color: blue;
    top: 200px;
    left: 200px;
}