body{
    background-color: violet;
    background-image: url(../resource/bg2.jpg);
    background-repeat: no-repeat;
    background-position: top left;
}

h1{
    color: teal;
    font-size: 50px;
    text-align: right;
    text-decoration: underline;
    background-color: tomato;
    background-image: url(../resource/bg1.jpg);
    background-position: bottom;

}
p{
    text-indent: 20px;
    text-decoration: overline;
    text-transform: capitalize;
    word-spacing: 5px;
}
